spring:
  application:
    name: backend
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:13306/safelens?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul # 배포 시 변경 필요
    username: root
    password: root
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
    open-in-view: false

# Image Server 설정 (실제 Image Server 연동 시 사용)
image-server:
  url: http://192.168.68.174:8000/
  timeout:
    connect: 5000
    read: 10000

# 로깅 설정
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%-5level) - %msg [%thread]%n"
  level:
    safelens.backend: DEBUG
    org.springframework.web: INFO
